.number {
    font-family: FreeMono, monospace;
    font-size: 600px;
    text-align: center;
    color: white;
}

.highscore {
    font-family: FreeMono, monospace;
    font-size: x-large;
    color: white;
}

.header {
    font-family: FreeMono, monospace;
    font-size: 40px;
}